@model Evento
<form asp-action="Crear" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Título</label>
        <input asp-for="Titulo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tipo</label>
        <input asp-for="Tipo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ubicación</label>
        <input asp-for="Ubicacion" class="form-control" />
    </div>
    <div class="form-group">
        <label>Fecha</label>
        <input asp-for="Fecha" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label>Descripción</label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Contacto</label>
        <input asp-for="Contacto" class="form-control" />
    </div>
    <div class="form-group">
        <label>Organizador</label>
        <input asp-for="Organizador" class="form-control" />
    </div>
    <div class="form-group">
        <label>Imagen</label>
        <input type="file" name="Imagen" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
</form>
