<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
    <title>@ViewData["Title"] - Tico Tours</title>
    <link id="main-css-href" rel="stylesheet" href="~/css/style.css" />
</head>
<body class="bg-light-gray" id="body">
    @RenderBody()
</body>
</html>
